ul {
    padding: 20px;
    list-style-type: none;
    background-color: darkgreen;
}

h1 {
    font-size: 40px;
    margin: 10px;
}

h2 {
    font-size: 25px;
    margin: 20px;
    margin-left: 10px;
}

p {
    margin: 10px;
    font-size: 17px;
}

.skip {
    margin-top: 40px;
    margin-left: 10px;
}


.book {
    float: left;
    width: 33.33%;
}

li {
    padding: 12px;
    width: 40px;
    margin: 40px;
    display: inline;
}
nav {
    margin: 10px;
}

li a{ 
    text-decoration: none;
    color: white;
}

.active {
    background-color: black;
    font-weight: bold;
}

img {
    margin: 12px;
    border: 5px solid darkkhaki;
    width: 270px;
    height: 400px;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
}

.landingpage {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border: 5px solid darkkhaki;
    background-color: darkgreen;
    padding: 20px;
}

.landingpage:hover {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: darkkhaki;
    padding: 20px;
    filter: grayscale(50%);

}

img:hover {
    filter: grayscale();
    border: 5px solid black;
    margin: 12px;
    padding: 20px;
}

li:hover {
    font-weight: bold;
}
